body {
    background-color: #202020;
    margin: 0;
}

#sidebar {
    width: 20%;
    background-color: #303030;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    font-family: Museo, sans-serif;
    font-size: 150%;
}

#logo {
    width: 90%;
    margin-top: 10%;
}

.sidebar-button {
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: Museo, sans-serif;
    background-color: #303030;
    border: none;
    margin: 2vh;
    font-size: 100%;
    text-align: center;
}