@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #040104;
    --background: #f3edf3;
    --lightbackground: #404040;
    --primary: #4d1d4e;
    --secondary: #e7c3e9;
    --accent: #9f3da4;
    --button1: #5DE35A;
    --button2: #E3B15B;
    --button3: #F46262;
    --button4: #5d5ae2;
  }
  .dark {
    --text: #fefbfe;
    --background: #202020;
    --lightbackground: #404040;
    --primary: #e1b1e2;
    --secondary: #3a163c;
    --accent: #bd5bc2;
    --button1: #5DE35A;
    --button2: #E3B15B;
    --button3: #F46262;
    --button4: #5d5ae2;
  }
}
