@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #fefbfe;
    --black-text: #040104;
    --background: #f3edf3;
    --light-background: #404040;
    --primary: #4d1d4e;
    --secondary: #e7c3e9;
    --accent: #9f3da4;
    --button1: #e9f374;
    --button2: #56e353;
    --button3: #f44747;
    --button4: #497af9;
  }
  .dark {
    --text: #fefbfe;
    --black-text: #040104;
    --background: #202020;
    --light-background: #404040;
    --primary: #e1b1e2;
    --secondary: #3a163c;
    --accent: #44aee3;
    --button1: #e9f374;
    --button2: #56e353;
    --button3: #f44747;
    --button4: #497af9;
  }
}
